@model IEnumerable<PizzariaOvenzinho.Models.Categoria>

@{
    ViewBag.Title = "ListarCategoriasCliente";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
}

<h2 style="color:#fff;text-align:center;font-size:50px;font-family:Brush Script Std, Brush Script MT, cursive;">Categorias</h2>
<h3 style="color:#fff;text-align:center;font-size:50px;font-family:Brush Script Std, Brush Script MT, cursive;">Escolha uma categoria para ver seus produtos</h3>

<table class="table table-striped table-hover" style="background-color:#fff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaNome)
        </td>
        <td>
            <!--Nome do link, action,controller, html-->
            @Html.ActionLink("Ver Produtos", "BuscarProdutos","Produtos",new { id = item.CategoriaId },new { @class="btn btn-primary"}) 
        </td>
    </tr>
}

</table>
