
@{
    ViewBag.Title = "PedidoNaoRealizado";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
}

<h2 style="color:#fff;text-align:center;font-size:100px;font-family:Brush Script Std, Brush Script MT, cursive;">=( Algo deu errado!</h2>
<h2 style="color:#fff;text-align:center;font-size:50px;font-family:Brush Script Std, Brush Script MT, cursive;">infelizmente seu pedido não foi realizado, contate seu suporte técnico!</h2>