
@{
    ViewBag.Title = "PedidoRealizado";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
}

<h2 style="color:#fff;text-align:center;font-size:100px;font-family:Brush Script Std, Brush Script MT, cursive;">Parabéns</h2>
<h2 style="color:#fff;text-align:center;font-size:50px;font-family:Brush Script Std, Brush Script MT, cursive;">Seu pedido foi realizado com sucesso!</h2>
